<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About Me</h2>
        <p>I'm Yoshiko, a web developer, japanese based in Hakuba, Nagano prefecture in Japan. </p>
        <p>I’m passionate about helping people to overcome obstacles and creating value to customers through design and technology that solves real-world needs.</p>
        <p>Outside of improving my development skills, I enjoy outdoor activities like camping, hiking in sommer and skiing in winter.</p>
      </div>
    </div>
  </div>
</div>
