<div id="banner" style="background-image: linear-gradient(rgba(116, 109, 100, 0.4),rgba(116, 109, 100, 0.4)), url(../images/bg-hero-gray.jpg);">
  <div class="main-title">
    <h1>Yoshiko Takagi</h1>
    <h3>Web Developer</h3>
  </div>
</div>
