<div id="banner" style="background-image: linear-gradient(rgba(116, 109, 100, 0.4),rgba(116, 109, 100, 0.4)), url(../images/bg-hero-gray.jpg);">
  <div class="main-title">
    <h1>Yoshiko Takagi</h1>
    <h3>Web Developer</h3>
  </div>
</div>
<%# <div class="row justify-content-center banner"> %>
<%# <%= image_tag 'banner.jpg', alt: "banner background", class: 'banner' %>
<%# <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100"> %>
<%# <h1 class="title-main">Yoshiko Takagi</h1>
    <h3>Web Developer</h3>
    <%= image_tag 'face.jpg', alt: "yoshiko photo", class: 'avatar' %>
<%# </div> %>
<%# </div> %>
