<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <h1 class="title-main">Yoshiko Takagi</h1>
    <h3 class="title-main">web developer | brand strategist</h1>
    <%= image_tag 'images/face.jpg', alt: "yoshiko photo", class: 'avatar' %>
  </div>
</div>
