<div class="navbar">
  <div class="navbar-logo">
    <a href="#banner">
      <h3>Yoshiko Takagi</h3>
    </a>
  </div>
  <div class="navbar-right">
    <ul class="navbar-menu">
      <li><a href="#about">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</div>
