.navbar {
  padding-top: 1rem;
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  z-index: 9000;
}

.navbar-logo {
  color: rgb(86, 96, 97);
  font-family: $body-font;
  font-size: 24px;
  font-weight: 100;
  margin-left: 70px;
}

.navbar-logo h3 {
  text-align: none;
}

.navbar-right {
  color: rgb(86, 96, 97);
  font-family: $body-font;
  font-size: 16px;
  margin-right: 70px;
}

.navbar-menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  margin-top: 0.5rem;
}

.navbar-menu a {
  color: rgb(86, 96, 97);
  text-decoration: none;
  margin: 0 20px;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}
