.section-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.section-title h2 {
  color: white;
  text-shadow: 2px 2px 2px rgba(77, 75, 75, 0.3);
  text-align: center;
}

.about-contents {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-text {
  font-size: 18px;
  display: grid;
  align-content: space-between;
  color: white;
  text-shadow: 2px 2px 2px rgba(77, 75, 75, 0.3);
}
